body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #ddd;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.character-card {
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 40px);
    text-align: center;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.character-info {
    margin-top: 10px;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

header select {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 2px solid #ddd;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    appearance: none; /* Esto quita el estilo predeterminado del elemento select */
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* A침ade estilos para cuando el elemento select est치 enfocado */
header select:focus {
    outline: none;
    border-color: #555;
}

/* A침ade estilos para cuando el usuario pasa el rat칩n sobre el elemento select */
header select:hover {
    border-color: #888;
}

/* Estilos para las opciones dentro del elemento select */
header select option {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}
